#card{
    width: 15rem;
    height: inherit;
    border: 2px solid black;
    overflow: hidden;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 1rem;
    border-radius: 1.3rem;
}

#card:hover{
    border: 2px solid red;   
    color: red;
}   

#card>h3{
    font-size: 1.5rem;
}

#card>p:nth-child(3){
    color: gray;
}
#card:hover >p:nth-child(3){
    color:rgb(252, 56, 56);
}